name: Cypress Tests

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container:
      image: cypress/included:13.6.0
      options: --user 1001
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Cypress tests
        run: |
          cypress run --browser chrome --headless

